<header class="header-area header-style-5">

    <div class="header-bottom sticky-bar sticky-white-bg">
        <div class="container">
            <div class="header-wrap header-space-between position-relative pt-10">
                <div class="logo logo-width-1">
                    <a href="/home"><img src="/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                
            </div>
        </div>
    </div>
</header>